<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
    ARTICLE { font-family:Verdana, Arial, sans-serif;}
    ARTICLE H1 {font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:normal; font-size:20pt;}
    SPAN.ghost {color:#cccccc;}
    DIV.poster {float:left; padding-right:10pt;}
    DIV.clear {clear:both;}
    SPAN.nobr { white-space: nowrap;}
    UL.episodes { list-style-type:none; }
</style>


<div id="content"></div>

<script type="text/babel">
window.SeriesBox = React.createClass(
{
  displayName: 'TV Series',

  showReviewForm : function(e)
  {
    $('#createReviewForm').css("display", "block");
  },

  hideReviewForm : function()
  {
    $('#createReviewForm').css("display", "none");
  },

  render: function()
  {
    return (
        <article className="article title-overview">

        <h1 className="header"><span className="itemprop">{this.props.title}</span>
            <span className="nobr">&nbsp;({this.props.year})</span>
        </h1>

        <div className="poster">
            <img height="317" width="214"
                alt={this.props.title + ' (' + this.props.year + ') Poster'}
                title={this.props.title + ' (' + this.props.year + ') Poster'}
                src={this.props.poster} />
        </div>

        <div className="title-description">
        <div className="infobar">
            &nbsp;{this.props.rating}
            &nbsp;<span className="ghost">|</span>&nbsp;
            <span className="itemprop">{this.props.genre}</span>
            &nbsp;<span className="ghost">|</span>&nbsp;
            <span className="nobr">{this.props.released}< / span >
            &nbsp;<span className="ghost">|</span>&nbsp;
            <span className="nobr"> {this.props.country} </span >
        </div>

        <p></p>

        <p>{this.props.plot||this.props.fullplot}</p >

        <p></p>

        <div className="txt-block">
            <h4 className="inline">Director:</h4>
            {this.props.director}
        </div>

        <div className="txt-block">
            <h4 className="inline">Writers:</h4>
            {this.props.writer}
        </div>

        <div className="txt-block">
            <h4 className="inline">Stars:</h4>
            {this.props.cast}
        </div>

        <div className="clear" />
        <h4 className="txt-block">Reviews:</h4>

        <div><a href="#" onClick={this.showReviewForm}>add your own review</a></div>
        <div id="createReviewForm" style={{display:'none'}}>
        <form onSubmit={submitReview}>
                <span className="nobr">rating : <input type="radio" name="rating" value="1"/>1 <input type="radio" name="rating" value="2"/>2 <input type="radio" name="rating" value="3"/>3 <input type="radio" name="rating" value="4"/>4 <input type="radio" name="rating" value="5"/>5</span><br />
                <textarea name="review" style={{width:'500pt', height:'180pt'}}></textarea><br />
                <input type="submit" value="save"/>
        </form>
        </div>
        <ul className="reviews">
        {this.props.reviews.map(function(review)
        {
            return <div key={reviews.reviewid}><div style={{'font-size':'24pt', float:'left', 'padding-right':'5pt'}}>{review.rating}</div>{review["createdby/displayname"]} - {review.review}<div className="clear"/></div>;
        })}
        </ul>


        <h4 className="txt-block">Episodes:</h4>
        <ul className="episodes">
        {this.props.episodes.map(function(episode)
        {
            return <li key={episode.id}>season {episode.season}: {episode.episode} {episode.title}</li>;
        })}
        </ul>

        </div>
        </article>
      );
  }
});
</script>
<script type="text/javascript">

var id = LABKEY.ActionURL.getParameter("id");
var titleInfo = null;
var reviews = null;
var episodes = null;


function submitReview(e)
{
    var rating = $("input[name='rating']:checked").val();
    var review = $("textarea[name='review']").val();
    $('#createReviewForm').css("display","none");
    e.preventDefault();
    e.stopPropagation();

    LABKEY.Query.insertRows({
        schemaName: 'movies',
        queryName: 'reviews',
        rows: [{"titleid": id, "rating": rating, "review": review}],
        successCallback: function(data)
            {
                window.location.reload();
            },
    });
}


function loadTitleQueryResult(result)
{
    titleInfo = result.rows[0];
    try
    {
        var date = new Date(titleInfo.released);
        titleInfo.released = Ext4.util.Format.date(date,"d F Y");
    }
    catch (err) {}

    renderIfReady();
}


function loadReviewQueryResult(result)
{
    reviews = result.rows;
    renderIfReady();
}

function loadEpisodesQueryResult(result)
{
    episodes = result.rows;
    renderIfReady();
}

function renderIfReady()
{
    if (null == titleInfo || null == reviews || null == episodes)
        return;
    titleInfo.reviews = reviews;
    titleInfo.episodes = episodes;

    React.render(React.createElement(SeriesBox,titleInfo), $('#content')[0]);
}


function onFailure()
{
    alert('fail');
}


Ext4.onReady(function()
{
    if (id)
    {
        LABKEY.Query.selectRows({
            schemaName: 'movies',
            queryName: 'titles',
            columns: '*',
            filterArray: [LABKEY.Filter.create('id', id)],
            success: loadTitleQueryResult,
            failure: onFailure
        });

        LABKEY.Query.selectRows({
            schemaName: 'movies',
            queryName: 'reviews',
            columns: 'created, createdby/displayname, rating, review',
            sort : '-created',
            filterArray: [LABKEY.Filter.create('titleid', id)],
            success: loadReviewQueryResult,
            failure: onFailure
        });

        LABKEY.Query.selectRows({
            schemaName: 'movies',
            queryName: 'episodes',
            columns: '*',
            sort: '+season,+episode',
            filterArray: [LABKEY.Filter.create('seriesid', id)],
            success: loadEpisodesQueryResult,
            failure: onFailure
        });
    }
});
</script>
