<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
       xmlns:util='http://www.springframework.org/schema/util'
       xsi:schemaLocation='http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd'>
    <bean id='moduleBean' class='org.labkey.api.module.SimpleModule'>
        <constructor-arg index='0'><value type='java.lang.String'>movies</value></constructor-arg>
        <property name='author' value='@@Author@@'/>
        <property name='buildOS' value='Mac OS X'/>
        <property name='buildPath' value='/Users/matthew/github/movies.module'/>
        <property name='buildTime' value='September 26 2015, 8:05 PM'/>
        <property name='buildUser' value='matthew'/>
        <property name='description' value='Demo LabKey module, can use data from http://www.omdbapi.com/'/>
        <property name='enlistmentId' value='971dd874-431f-4c5a-9e79-df50a99e7cda'/>
        <property name='label' value='Movie database'/>
        <property name='license' value='Apache 2.0'/>
        <property name='licenseUrl' value='http://www.apache.org/licenses/LICENSE-2.0'/>
        <property name='maintainer' value='@@Maintainer@@'/>
        <property name='moduleDependencies' value=''/>
        <property name='name' value='movies'/>
        <property name='organization' value='@@Organization@@'/>
        <property name='organizationUrl' value='@@OrganizationURL@@'/>
        <property name='requiredServerVersion' value='15.20'/>
        <property name='sourcePath' value='/Users/matthew/github/movies'/>
        <property name='svnRevision' value='Not built from a Subversion source tree'/>
        <property name='url' value='@@InfoURL@@'/>
        <property name='svnUrl' value='http://www.github.com/LabKey/movies'/>
        <property name='version' value='15.21'/>
    </bean>
</beans>
